.commentInput {
  display: flex;
}

.commentInput>textarea {
  border-radius: 2px;
  background-color: #424242;
  width: 100%;
  resize: none;
}

.emoji-mart {
  position: absolute;
  bottom: 77px;
  z-index: 99;
  right: 10%;
}

.emojiContainer {
  background: #343333;
  border-radius: 50px 0 0 50px;
}

.commentInput>textarea:focus {
  outline: none;
}

.centralize {
  display: flex;
  align-items: center;
}

.sendButton {
  background: #343333;
  border-radius: 0 50px 50px 0;
}
