.commentInput {
  display: flex;
  box-shadow: 0 0 10px -3px;
  height: 8%;
  position: fixed;
  width: 34%;
  bottom: 13%;
}

.commentInput>textarea {
  border-radius: 2px;
  width: 100%;
  resize: none;
  border: none;
  font-size: 16px;
}

.emoji-mart {
  position: absolute;
  bottom: 77px;
  z-index: 99;
  right: 21%;
}

.commentInput>textarea:focus {
  outline: none;
}

.centralize {
  display: flex;
  align-items: center;
}
