.container {
  height: 100%;
  padding: 10em 3em 0em 3em
}

.back {
  top: 0;
  left: 0;
  position: absolute;
}

.todos {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: min-content;
  gap: 4px;
}

.todo {
  font-size: medium;
  height: 15em;
  user-select: none;
}

.search {
  width: 81%;
  position: absolute;
  top: 0;
}

.search>input {
  width: 100%;
  height: 4em;
  background-color: #303030;
  border-radius: 40px;
  margin-bottom: 2%;
}

mat-card:hover {
  background-color: rgb(95, 93, 93);
  cursor: pointer;
}

mat-card:active {
  transform: scale(0.97);
}
