<body>
  <div class="wrapper"></div>
  <div>
    <span type="text" readonly id="generated-captcha"> {{captcha}} </span>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Captcha</mat-label>
    <input [formControl]="userCaptchaValueEntered" matInput autocomplete="off">
    <mat-error *ngIf="userCaptchaValueEntered.invalid">{{getUserCaptchaErrorMessages()}}</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="button" [disabled]="userCaptchaValueEntered.invalid" (click)="check()">Check</button>
  <button mat-raised-button color="primary" type="button" (click)="generate()" id="gen">Generate new</button>
</body>
