@import "https://fonts.googleapis.com/css2?family=Baloo+2&family=Poppins:wght@400;500;600;700&display=swap";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
  background-color: rgb(31, 29, 29);
  height: auto;
  width: 100%;
  max-width: 100%;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}

div {
  margin-bottom: 10px;
}

button {
  margin-bottom: 5px;
  cursor: pointer;
}

input {
  text-decoration: none;
  color: white;
}

#generated-captcha {
  text-decoration: line-through;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  outline: none;
  color: white;
  user-select: none;
}

#entered-captcha {
  border: 2px solid #c5c7f7;
  font-family: monospace;
  outline: none;
  font-size: 12px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
