<mat-card>
  <div class="doneAndTask">
    <app-check-circle [status]="toDo.status" (click)="doneToDo()"></app-check-circle>
    <div class="toDo" [contentEditable]="true" [class.lineThrough]="isDone()"
      (keydown.enter)="updateToDoBody($event.target)" [innerHtml]="toDo.task | summaryPipes: 20 | marker : search"></div>
  </div>
  <div>
    <button mat-icon-button #triggerBtn [matMenuTriggerFor]="normalMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu class="menu" #normalMenu="matMenu">
      <app-star (click)="starToDo()" [isStarred]="toDo.isStarred"></app-star>
      <button (click)="openEditToDoDialog()" mat-menu-item class="material-icons" matTooltip="Edit todo">
        <mat-icon>edit</mat-icon> Edit todo
      </button>
      <button (click)="openAggreementDialog()" mat-menu-item class="material-icons delete" matTooltip="Delete todo">
        <mat-icon>delete</mat-icon> Delete todo
      </button>
      <button (click)="shareToDo()" mat-menu-item class="material-icons delete" matTooltip="Delete todo">
        <mat-icon>share</mat-icon> Share todo
      </button>
      <button (mouseenter)="getFolders()" mat-menu-item [matMenuTriggerFor]="todoLists">
        <mat-icon>add</mat-icon> Add todo to folder
      </button>
    </mat-menu>

    <mat-menu #todoLists="matMenu">
      <div *ngFor="let folder of folders"> 
        <button mat-menu-item *ngFor="let list of folder.toDoLists" (click)="addToList(folder.name, list.name)">
          <span>{{folder.name}} --> {{list.name}}</span>
        </button>
      </div>
    </mat-menu>
  </div>
</mat-card>
