<mat-card>
  <div class="doneAndTask">
    <div class="doneAndUndone" mat-fab color="" (click)="doneToDo()">
      <span class="material-icons" *ngIf="toDo.status !== 'done'">
        radio_button_unchecked
      </span>
      <span class="material-icons" *ngIf="toDo.status === 'done'">
        check_circle
      </span>
    </div>
    <div class="toDo" [contentEditable]="true" [class.lineThrough]="toDo.status === 'done'"
      (keydown.enter)="updateToDoBody($event.target)" [innerHtml]="toDo.task | marker : search"></div>
  </div>
  <div>
    <button mat-icon-button #triggerBtn [matMenuTriggerFor]="normalMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu class="menu" #normalMenu="matMenu">
      <button (click)="openEditToDoDialog()" mat-menu-item class="material-icons" matTooltip="delete list">
        <mat-icon>edit</mat-icon> Edit todo
      </button>
      <button (click)="openAggreementDialog()" mat-menu-item class="material-icons delete" matTooltip="delete list">
        <mat-icon>delete</mat-icon> Delete todo
      </button>
      <button (click)="starToDo()" mat-menu-item class="material-icons delete" matTooltip="delete list">
        <span *ngIf="toDo.isStarred">
          <mat-icon>star</mat-icon> Unstar todo
        </span>
        <span *ngIf="!toDo.isStarred">
          <mat-icon>star_border</mat-icon> Star todo
        </span>
      </button>
    </mat-menu>
  </div>
</mat-card>
