<div class="list-group">
  <a class="list-group-item list-group-item-action" [routerLink]="['../settings/personal-info']">Personal
    info</a>
  <a class="list-group-item list-group-item-action" [routerLink]="['../settings/security-info']">Security</a>
  <a class="list-group-item list-group-item-action" [routerLink]="['../settings/account-info']">Account</a>
  <a class="list-group-item list-group-item-action" [routerLink]="['../settings/appearance-info']">Appearance</a>
</div>
<div class="settings">
  <router-outlet></router-outlet>
</div>
