.list-group {
  position: absolute;
  top: 50px;
  right: 70px;
  height: auto;
  box-shadow: -6px 0px 47px -20px;
  z-index: 99;
}

.list-group-item {
  height: 80px;
  width: 20em;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
}

.list-group-item:hover {
  cursor: pointer;
}

.settings {
  width: 67%;
  height: 60em;
  position: absolute;
  right: 344px;
  top: 50px;
  box-shadow: 7px 0px 47px -16px;
  border-radius: 5px;
  overflow: auto;
}

.settings::-webkit-scrollbar-track {
  border-radius: 20px;
}

.settings::-webkit-scrollbar {
  width: 5px;
}

.settings::-webkit-scrollbar-thumb {
  border-radius: 20px;
  height: 20px;
  background-color: #484866;
}
