<div class="main">
  <div class="container">
    <span @fade>Welcome</span>
    <app-sign-in @fade></app-sign-in>
    <form class="forms" [formGroup]="user">
      <div id="fpf" class="firstPartForm">
        <div @fade class="mb-3">
          <input [readonly]="isLoading" autocomplete="off" type="text" [formControl]="firstName" required
            class="form-control" placeholder="First name">
            <div @fade class="alert alert-danger" *ngIf="firstName.invalid && firstName.touched">Please enter your first
              name</div>
        </div>
        <div @fade class="mb-3">
          <input [readonly]="isLoading" autocomplete="off" type="text" [formControl]="lastName" required
            class="form-control" placeholder="Last name">
            <div [@fade]="lastName.invalid && lastName.touched" class="alert alert-danger"
              *ngIf="lastName.invalid && lastName.touched">Please enter your last name</div>
        </div>
        <div @fade class="mb-3">
          <input [readonly]="isLoading" autocomplete="off" type="email" [formControl]="email" required
            class="form-control" placeholder="Email">
            <div @fade class="alert alert-danger" *ngIf="email.touched && email.invalid && email.errors.required">Please enter
              your email</div>
            <div @fade class="alert alert-danger" *ngIf="email.touched && email.invalid && email.errors.emailIsDoplicate">The
              email already exists</div>
        </div>
      </div>
      <div id="spf" class="secondPartForm">
        <div @fade class="mb-3">
          <input [readonly]="isLoading" autocomplete="off" type="text" [formControl]="username" required
            class="form-control" placeholder="Username">
            <div class="alert alert-danger" *ngIf="username.touched && username.invalid && username.errors.required">Please
              enter
              your username</div>
            <div @fade class="alert alert-danger"
              *ngIf="username.touched && username.invalid && username.errors.usernameisDoplicate">The
              username already exists</div>
        </div>
        <div @fade class="mb-3">
          <input [readonly]="isLoading" autocomplete="off" type="password" [formControl]="password" required
            class="form-control" placeholder="Password">
            <div @fade class="alert alert-danger" *ngIf="password.invalid && password.touched && password.errors.required">Please enter your
              password</div>
        </div>
          <div @fade class="mb-3">
            <input [readonly]="isLoading" autocomplete="off" type="password" [formControl]="reTypePassword" required
            class="form-control" placeholder="Retype password">
            <div @fade class="alert alert-danger" *ngIf="reTypePassword.invalid && reTypePassword.touched">Please enter your
              password</div>
              <div @fade class="alert alert-danger"
                *ngIf="reTypePassword.valid && user.invalid && user.errors?.['passwordsDoNotMatch']">Passwords don't
                match</div>
          </div>
      </div>
      <ngx-recaptcha2 @fade [siteKey]="siteKey" [formControl]="recaptcha">
      </ngx-recaptcha2>
      <button *ngIf="!isSecondForm" class="submit-btn" @fade type="button" mat-raised-button color="primary"
        [disabled]="email.invalid || firstName.invalid || lastName.invalid" (click)="nextForm()">Next
      </button>
      <button *ngIf="isSecondForm" class="submit-btn" @fade type="submit" [class.spinner]="isLoading" mat-raised-button color="primary"
        [disabled]="isLoading || user.invalid" (click)="registerUser()">Sign up
      </button>
    </form>
    <div @fade class="d-flex justify-content-center links">
      Already have an account? <a routerLink="/login">log in</a>
    </div>
    <div class="passwordErrors">
      <div @fade *ngIf="password.touched && password.invalid">
        <h6 [class.wrong]="!isMinimum" [class.ok]="isMinimum">
          <span class="material-icons" *ngIf="!isMinimum">error</span>
          <span class="material-icons" *ngIf="isMinimum">done</span>
          At least 10 characters
        </h6>
        <h6 [class.wrong]="!hasNumber" [class.ok]="hasNumber">
          <span class="material-icons" *ngIf="!hasNumber">error</span>
          <span class="material-icons" *ngIf="hasNumber">done</span>
          Contains at least 2 numbers
        </h6>
        <h6 [class.wrong]="!hasSpecialCharacters" [class.ok]="hasSpecialCharacters">
          <span class="material-icons" *ngIf="!hasSpecialCharacters">error</span>
          <span class="material-icons" *ngIf="hasSpecialCharacters">done</span>
          Contains at least 2 special characters
        </h6>
        <h6 [class.wrong]="!hasLowerCase" [class.ok]="hasLowerCase">
          <span class="material-icons" *ngIf="!hasLowerCase">error</span>
          <span class="material-icons" *ngIf="hasLowerCase">done</span>
          Contains at least 2 lowercase
        </h6>
        <h6 [class.wrong]="!hasUpperCase" [class.ok]="hasUpperCase">
          <span class="material-icons" *ngIf="!hasUpperCase">error</span>
          <span class="material-icons" *ngIf="hasUpperCase">done</span>
          Contains at least 2 uppercase
        </h6>
      </div>
    </div>
  </div>

</div>
