@media screen and (max-width: 2000px) {
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

  .form-control{
    height: 50px;
    font-size: 20px;
    font-family: 'Sofia';
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 34px 0px #525252;
    width: 38%;
    height: 80%;
    align-self: center;
    align-items: center;
    border-radius: 20px;
  }

  .links {
    margin-top: 2%;
    font-size: 17px;
  }

  .submit-btn {
    position: absolute;
    bottom: 13px;
    width: 74%;
    height: 50px;
    margin-left: 12%;
  }

  mat-form-field {
    font-size: 12px;
    padding: 10px;
  }

  .forms {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 1% auto;
    background: #fff;
    overflow: hidden;
  }

  .form>div {
    display: flex;
  }

  .firstPartForm {
    position: absolute;
    width: 280px;
    transition: .5s;
    left: 50px;
  }

  .secondPartForm {
    position: absolute;
    width: 280px;
    transition: .5s;
    left: 450px;
  }

  ngx-recaptcha2 {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    width: 100%;
  }

  .form>button {
    width: 100%;
    height: 4em;
    color: black;
  }

  .form>mat-form-field {
    width: 100%;
  }

  .form>div>mat-form-field {
    width: 47%;
    margin-left: .5em;
  }

  .main {
    display: flex;
    height: 100%;
    font-size: 13px;
  }

  .container>div>img:hover {
    cursor: pointer;
  }

  .pictureContainer {
    position: absolute;
    padding-left: 24em;
    height: auto;
    padding-top: 10em;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container>span {
    display: flex;
    align-self: center;
    font-size: 6em;
    font-family: "Sofia", sans-serif;
    color: rgb(106, 16, 190);
  }

  .wrong {
    color: red;
  }

  .ok {
    color: green;
  }
}

@media screen and (max-width: 600px) {

  .form>div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form>div>mat-form-field {
    width: 40%;
  }
}
