<div class="backGround">
  <div class="container">
    <mat-form-field appearance="outline">
      <mat-label>Email or phone number</mat-label>
      <input [formControl]="emailOrPhone" [disabled]="!isEnterEmailOrPhoneEditable" matInput autocomplete="off" type="password">
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Code</mat-label>
      <input [disabled]="!isCheckCodeEditable" matInput autocomplete="off" type="password">
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>New username</mat-label>
      <input [disabled]="!isUsernameInputEditable" matInput autocomplete="off" type="password">
      <mat-error></mat-error>
    </mat-form-field> 
    <div class="buttons">
      <button [disabled]="emailOrPhone.invalid" *ngIf="isEnterEmailOrPhoneEditable" @fade mat-raised-button color="primary">
        <span>Send code</span>
      </button>
      <button *ngIf="isCheckCodeEditable" @fade mat-raised-button color="primary">
        <span>Check code</span>
      </button>
      <button *ngIf="isUsernameInputEditable" @fade mat-raised-button color="primary">
        <span>Change username</span>
      </button>
      <button @fade mat-raised-button color="warn" (click)="close.emit()">Close</button>
    </div>
  </div>
</div>