<div class="message" (contextmenu)="openMenu($event, message)" *ngIf="isSender(message.user.id)">
  <div>
    <div>
      <p class="colorAndFontSizeForHeaders"> {{message.user.firstName}} {{message.user.lastName}} </p>
      <p class="messageData" [class.hasBorder]="isEditable" *ngIf="!isImage(message.message)"
        [contentEditable]="isEditable" (keydown.enter)="editMessage($event.target, $event)">
        {{message.message}} </p>
      <img width="100%" [src]="message.message" *ngIf="isImage(message.message)" alt="">
      <p class="messageDate colorAndFontSizeForHeaders"> {{message.sentAt | date : 'shortTime'}} </p>
    </div>
  </div>
</div>
<div class="message" [class.alignSelfEnd]="!isSender(message.user.id)" *ngIf="!isSender(message.user.id)">
  <p class="colorAndFontSizeForHeaders"> {{message.user.firstName}} {{message.user.lastName}} </p>
  <p class="messageData" [class.hasBorder]="isEditable" *ngIf="!isImage(message.message)" [contentEditable]="isEditable"
    (keydown.enter)="editMessage($event.target, $event)">
    {{message.message}} </p>
  <img width="100%" [src]="message.message" *ngIf="isImage(message.message)" alt="">
  <p class="messageDate colorAndFontSizeForHeaders"> {{message.sentAt | date : 'shortTime'}} </p>
</div>

<div (contextmenu)="preventDefault($event)" style="visibility: hidden; position: fixed;"
  [style.left]="menuTopLeftPosition.x" [style.top]="menuTopLeftPosition.y" [matMenuTriggerFor]="rightMenu"></div>

<mat-menu #rightMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button class="menuButton edit" (click)="makeMessageContentEditable(item.id)" mat-menu-item>Edit <mat-icon>edit
      </mat-icon></button>
    <button class="menuButton delete" (click)="deleteMessage(item.id)" mat-menu-item>Delete <mat-icon>delete</mat-icon>
    </button>
  </ng-template>
</mat-menu>
