form {
  font-size: 20px;
}

mat-form-field {
  width: 100%;
}

textarea {
  resize: none;
}

button {
  margin-right: 2%;
}

mat-spinner {
  position: fixed;
  top: 40%;
  left: 46%;
}

.icons {
  display: flex;
  justify-content: space-around;
}