<form>
  <mat-spinner [hidden]="!isSending"></mat-spinner>
  <div class="icons">
    <button [routerLink]="'/inbox'" (click)="closeDialog()" mat-icon-button color="basic" matTooltip="Inbox">
      <mat-icon>inbox</mat-icon>
    </button>
    <button [routerLink]="'/outbox'" (click)="closeDialog()" mat-icon-button color="basic" matTooltip="Outbox">
      <mat-icon>outbox</mat-icon>
    </button>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>To</mat-label>
    <input (keydown)="getRecommendation()" autofocus="1" [formControl]="to" matInput autocomplete="off">
    <mat-error *ngIf="to.invalid">{{getEmailErrorMessages()}}</mat-error>
    <div class="recommendations" *ngIf="recommendations">
      <div *ngFor="let recommendation of recommendations">
        <div class="recommendation" (click)="selectEmail(recommendation.email)">
          <p>{{recommendation.email}}</p>
          <span> {{recommendation.firstName}} {{recommendation.lastName}} </span>
        </div>
      </div>
    </div>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Message</mat-label>
    <textarea [formControl]="message" matInput></textarea>
    <mat-error *ngIf="message.invalid">{{getMessageErrorMessages()}}</mat-error>
  </mat-form-field>
  <button type="submit" id="sendEmail" matTooltip="Ctrl + enter" [disabled]="email.invalid" mat-flat-button color="primary" (click)="sendEmail()">Send email <mat-icon>send
    </mat-icon></button>
  <button mat-flat-button color="warn" (click)="closeDialog()">Cancel</button>
</form>
