form {
  font-size: 20px;
}

mat-form-field {
  width: 100%;
}

textarea {
  resize: none;
}

button {
  margin-right: 2%;
}

mat-spinner {
  position: fixed;
  top: 40%;
  left: 46%;
}

.icons {
  display: flex;
  justify-content: space-around;
}

.recommendations {
  width: 100%;
  height: 10em;
  position: absolute;
  overflow: auto;
  z-index: 99;
  border-radius: 8px;
  background-color: rgb(61, 60, 60,0.7);
}

.recommendation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #26336a;
  height: 4em;
  border-radius: 10.75px;
  padding-left: 1em;
  margin-bottom: 2%;
  user-select: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track{
  background-color: #CECEFE;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb{
  background-color: #1860b3;
  border-radius: 50px;
}

.recommendation:hover {
  background-color: #182044;
  cursor: pointer;
}

.recommendation:active {
  background-color: #324288;
  cursor: pointer;
}

.recommendation>span {
  font-size: 13px;
  color: black;
}
