.background {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #7c7c7c75;
  z-index: 50;
}

.component {
  position: fixed;
  background-color: #26264e;
  width: 60%;
  left: 20%;
  top: 15%;
  height: 74%;
  border-radius: 5px;
  z-index: 70;
}