<div class="btn-group" appDropDown [selectedClass]="'open'">
  <img class="profile dropdown-toggle" [src]="user.profileImageUrl" alt="">
  <span class="caret"></span>
  <ul class="dropdown-menu">
    <optgroup label="first">
      <option value="H">H</option>
      <option value="f">f</option>
      <option value="f">s</option>
    </optgroup>
    <optgroup label="last">
      <option value="">w</option>
      <option value="">s</option>
      <option value="">g</option>
    </optgroup>
  </ul>
</div>
