@media screen and (max-width: 2000px) {
  mat-spinner {
    position: fixed;
    left: 50%;
  }

  .authorities {
    position: fixed;
    top: 20%;
    right: 2%;
    font-size: 15px;
    border-style: inset;
    border-radius: 5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
  }

  .buttons {
    position: fixed;
    right: 2em;
    bottom: 2em;
    display: flex;
    flex-direction: row-reverse;
  }

  .editButton{
    position: absolute;
    bottom: 2%;
    right: 2%;
  }

  .buttons > button[color="warn"]{
    margin-right: 2%;
  }

  .details {
    display: flex;
    justify-content: space-around;
  }

  .detailsCard {
    display: table-cell;
    padding-left: 5%;
    width: 120em;
  }

  .displayFlex {
    display: flex;
  }

  .paddingLeft5 {
    padding-left: 5%;
  }

  .paddingRight5 {
    padding-right: 5%;
  }

  .displayGrid {
    display: grid;
  }

  .width18em {
    width: 18em;
  }

  .justifyContentSpaceBetween {
    justify-content: space-between;
  }

  .fontSize20 {
    font-size: 20px;
  }

  .marginTop5 {
    margin-top: 5%;
  }

  img {
    border-radius: 50%;
    top: 2%;
    right: 2%;
    position: fixed;
  }

  .blockButton {
    position: fixed;
    top: 1%;
    left: 0.5%;
  }

  button:hover {
    color: rgb(166, 140, 192);
  }

  button:active {
    color: rgb(215, 192, 238);
  }

  .blocked {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .blockButton {
    all: unset;
    display: flex;
    align-items: center;
  }

  .blockButton:hover {
    cursor: pointer;
  }

  .flexDirectionColumn {
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .maxWidth1200FlexDirectionColumn {
    flex-direction: column;
  }

  .maxWidth1200JustifyContent {
    justify-content: center;
  }

  .maxWidth1200DisplayFlex {
    display: flex;
  }

  .maxWidth1200MarginTop0 {
    margin-top: 0;
  }

  .authorities {
    margin-top: unset;
    display: flex;
    justify-content: space-between;
  }
}
