mat-spinner{
    position: fixed;
    left: 50%;
}

img{
    border-radius: 50%;
    padding-top: 2%;
    padding-left: 2%;
}

button{
    position: fixed
}

button:hover {
  color: rgb(166, 140, 192);
}

button:active {
  color: rgb(215, 192, 238);
}