@media screen and (max-width: 2000px) {

  .arrowBackButton {
    position: fixed;
    top: 2%;
    left: 2%;
  }

  mat-spinner {
    position: fixed;
    left: 50%;
  }

  .hasBorder {
    border-style: groove;
    border-radius: 5%;
  }

  .loader {
    left: 50%;
    margin-left: -4em;
    z-index: 99;
  }

  .user-name {
    margin-top: 9%;
  }

  .authorities {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    position: fixed;
    top: 25%;
    right: -8%;
    font-size: 15px;
    border-style: inset;
    border-radius: 5%;
    padding-left: 0.5%;
  }

  .buttons {
    position: fixed;
    right: 2em;
    bottom: 2em;
    display: flex;
    flex-direction: row-reverse;
  }

  .editButton {
    position: absolute;
    bottom: 2%;
    right: 2%;
  }

  .buttons>button[color="warn"] {
    margin-right: 2%;
  }

  .lineThrough {
    color: #fdfdfd;
    z-index: 99;
    background-color: #f70404;
    border-radius: 18%;
    top: 14%;
    right: 2%;
    position: fixed;
    width: 100px;
    height: 13px;
    transform: rotate(45deg);
  }

  .minust45degree {
    transform: rotate(-45deg);
  }

  .details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    width: 100%;
  }

  .detailsCard {
    display: table-cell;
    padding-top: 4%;
    padding-left: 5%;
    width: 89%;
    display: flex;
  }

  .fontSize20 {
    font-size: 20px;
  }

  img {
    border-radius: 50%;
    top: 7%;
    right: 2%;
    position: fixed;
    width: 100px;
    height: 100px;
  }

  .blockButton {
    position: fixed;
    top: 1%;
    left: 0.5%;
  }

  button:hover {
    color: rgb(166, 140, 192);
  }

  button:active {
    color: rgb(215, 192, 238);
  }

  .blocked {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .blockButton {
    all: unset;
    display: flex;
    align-items: center;
  }

  .blockButton:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 1200px) {
  img {
    border-radius: 50%;
    right: 11%;
    position: absolute;
  }

  .detailsCard {
    display: flex;
    width: 100%;
    padding-top: 1em;
    padding-left: 2%;
    justify-content: center;
  }

  .authorities {
    position: unset;
    width: 80%;
    font-size: 30px;
    margin-top: 6.5em;
    margin-left: 11%;
  }

  .email {
    font-size: 80%;
  }

  .arrowBackButton {
    position: fixed;
  }

  .buttons {
    all: unset;
    padding: 10%;
    display: flex;
    flex-direction: column;
  }
}
