<nav>
  <button class="back" mat-icon-button (click)="backToMain()" matTooltip="Back">
    <mat-icon>arrow_back</mat-icon>
  </button>
</nav>
<div class="userDetails" [class.spinner]="isLoading">
  <div class="header">
    <div>
      <div class="img-username">
        <img *ngIf="user.profileImageUrl" [src]="user.profileImageUrl" width="200px" height="200px">
        <img *ngIf="!user.profileImageUrl"
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwebstockreview.net%2Fimages%2Fperson-icon-png-2.png&f=1&nofb=1"
          width="200px" height="200px">
        <span>{{user.userName}}</span>
      </div>
    </div>
    <div class="fnln" [class.margintop]="!user.profileImageUrl">
      <div class="fnlninner">
        <div>
          <div class="follows">
            <span>Followers</span>
            <button (click)="follows.open(user.followers, 'followers')" mat-button>{{user.followers.length}}</button>
          </div>
          <div class="follows">
            <span>Followings</span>
            <button (click)="follows.open(user.followings, 'followings')" mat-button>{{user.followings.length}}</button>
          </div>
          <article>
            <h4>bio</h4>
            <p>{{user.bio}}</p>
          </article>
        </div>
      </div>
    </div>
  </div>
  <div>
  </div>
  <div>
    <div *ngIf="user.phoneVisible">
      <a class="link" [href]="'tel:' + user.phoneNumber">Phone number</a>
    </div>
    <div class="secondElement" *ngIf="user.emailVisible">
      <a class="link" [href]="'mailto:' + user.email">Email</a>
    </div>
  </div>
</div>
<hr>
<div class="todo-container">
  <div *ngIf="todos.length == 0">
    <p class="no-to-do">No todo yet</p>
  </div>
  <div class="container" *ngFor="let todo of todos">
    <section (click)="openToDoModal(todo.id)" class="todo">
      <article>
        <h3>{{todo.task}}</h3>
        <p>{{todo.note}}</p>
      </article>
    </section>
  </div>
</div>

<app-followers-followings #follows></app-followers-followings>
<app-explore-todos *ngIf="todoId != undefined" [id]="todoId" (close)="closeModal()"></app-explore-todos>
