@media screen and (max-width: 2000px) {
  .todoDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 17px;
    column-gap: 5px;
  }

  footer {
    display: flex;
    justify-content: space-around;
  }

  .todoDetails>div>div {
    display: flex;
    flex-direction: column;
  }

  .todoDetails>button {
    width: 90%;
  }

  mat-form-field {
    width: 20em;
  }

  mat-icon {
    cursor: pointer;
  }

  .icons {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
  }

  .buttons>button {
    width: 5em;
  }

  p {
    font-size: 0.5em;
    color: aquamarine;
    margin: 0;
  }

  progress {
    width: 100%;
  }

  button[color="warn"] {
    margin-left: 3em;
  }

  .displayNone {
    display: none;
  }

  mat-spinner {
    position: absolute;
    top: 37%;
    right: 47%;
  }
}

@media screen and (max-width: 900px) {
  .todoDetails {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .todoDetails {
    font-size: 14px;
  }
}
