.comments {
  height: 20em;
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.comments::-webkit-scrollbar {
  width: 0;
}

.message {
  padding-left: 4px;
}

.comment {
  padding: 2px;
}
