.todoSharedContainer {
  font-size: 25px;
  padding: 15px;
}

mat-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  padding: 10px;
}

.noToDo{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noToDo>span{
    font-size: 70px;
}

mat-card>span {
  color: rgb(104, 104, 104);
  font-size: 17px;
}

.statusContainer{
    display: flex;
    justify-content: space-between;
}

.statusContainer>mat-card{
    width: 32%;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.footer >mat-card{
    width: 48%;
}

