<div [class.spinner]="isLoading">
  <form>
    <div class="container">
      <div class="codes">
        <input type="number" class="code" min="0" max="9" placeholder="0" required />
        <input type="number" class="code" min="0" max="9" placeholder="0" required />
        <input type="number" class="code" min="0" max="9" placeholder="0" required />
        <input type="number" class="code" min="0" max="9" placeholder="0" required />
        <input type="number" class="code" min="0" max="9" placeholder="0" required />
      </div>
    </div>
    <button type="submit" mat-raised-button [disabled]="isLoading || code.invalid" color="primary"
      (click)="validateCode()">Check
      code</button>
  </form>
  <div class="links">
    Didn't get the code? <a color="primary" (click)="resendCode()">Resend code</a>
  </div>
</div>
