div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
}

div>mat-form-field {
  width: 20em;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

div > button[color="primary"]{
  width: 90%;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

.links>a {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: row;
}
