.searchform {
  background: #f4f4f4;
  background: rgba(244, 244, 244, .79);
  border: 1px solid #d3d3d3;
  left: 50%;
  padding: 2px 5px;
  position: absolute;
  margin: -22px 0 0 -170px;
  top: 50%;
  width: 339px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
  -moz-box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
  -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px
}

.searchform input,
.searchform button {
  float: left
}

.searchform input {
  background: #fefefe;
  border: none;
  font: 12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
  margin-right: 5px;
  padding: 10px;
  width: 327px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .4) inset, 1px 1px 1px rgba(255, 255, 255, .75);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .4) inset, 1px 1px 1px rgba(255, 255, 255, .75);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .4) inset, 1px 1px 1px rgba(255, 255, 255, .75);
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px
}

.searchform input:focus {
  outline: none;
  box-shadow: 0 0 4px #0d76be inset;
  -moz-box-shadow: 0 0 4px #0d76be inset;
  -webkit-box-shadow: 0 0 4px #0d76be inset;
}

.searchform input::-webkit-input-placeholder {
  font-style: italic;
  line-height: 15px
}

.searchform input:-moz-placeholder {
  font-style: italic;
  line-height: 15px
}

.searchform button:hover {
  opacity: .9;
}

.nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.chat-btn {
  border: none;
  background: none;
  position: fixed;
  right: 20px;
}

.row {
  box-shadow: 0 0 10px 1px;
  font-size: 27px;
}

a {
  text-decoration: none;
  color: black;
}