.nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.chat-btn {
  border: none;
  background: none;
  position: fixed;
  right: 20px;
}

.row {
  box-shadow: 0 0 10px 1px;
  font-size: 27px;
}

a {
  text-decoration: none;
  color: black;
}
