<div class="row">
  <div class="nav">
    <a [routerLink]="'/' + username">𝓣𝓸𝓓𝓸</a>
    <div class="search">
      <form class="searchform cf">
        <input list="search" (keyup)="search($event.target)" type="text" placeholder="Search ...">
        <datalist id="search">
          <div *ngFor="let result of results">
            <option *ngIf="result.name == undefined; else itIsTag" [value]="result.userName"></option>
            <ng-template #itIsTag>
              <option [value]="result.name"></option>
            </ng-template>
          </div>
        </datalist>
      </form>
    </div>
    <div>
      <button class="chat-btn"><img src="https://img.icons8.com/sf-regular/40/000000/messaging-.png" /></button>
    </div>
  </div>
</div>
