  <body data-home-page="Home.html" data-home-page-title="Home" class="u-body u-xl-mode">
    <section class="u-align-center u-clearfix u-image u-section-1" id="carousel_4e97" data-image-width="1980"
      data-image-height="1980">
      <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <img src="../../../assets/images/225203-P29OZD-286-min.png" alt=""
          class="u-expanded-width-sm u-expanded-width-xs u-image u-image-contain u-image-default u-image-1"
          data-image-width="700" data-image-height="749">
        <h1 class="u-align-center u-custom-font u-font-pt-sans u-text u-text-palette-3-dark-3 u-text-1">Page not found
        </h1>
        <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div
                class="u-align-center-sm u-align-center-xs u-align-right-lg u-align-right-md u-align-right-xl u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <a class="u-active-white u-border-2 u-border-active-white u-border-hover-white u-border-palette-3-dark-3 u-btn u-btn-round u-button-style u-hover-white u-palette-3-dark-3 u-radius-8 u-text-active-palette-3-base u-text-hover-palette-3-base u-text-palette-3-base u-btn-2" (click)="goHome()">Go Home</a>
                </div>
              </div>
              <div
                class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>