<div class="card" *ngIf="requests.length > 0; else noRequest">
  <div class="card-body" *ngFor="let request of requests">
    <div class="user" appHover [default]="'whtie'" [highlight]="'white'" (click)="seeUser(request.applicant.userName)">
      <img *ngIf="request.applicant.profileImageUrl; else notProfile" [src]="request.applicant.profileImageUrl"
        [alt]="request.applicant.userName + ' profile image'">
      <ng-template #notProfile>
        <img
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwebstockreview.net%2Fimages%2Fperson-icon-png-2.png&f=1&nofb=1"
          width="200px" height="200px">
      </ng-template>
      <span>{{request.applicant.userName}}</span>
    </div>
    <div class="buttons">
      <button class="btn btn-primary" (click)="acceptRequest(request.id)">Accept</button>
      <button class="btn btn-outline-danger" (click)="rejectRequest(request.id)">Reject</button>
    </div>
  </div>
</div>
<ng-template #noRequest>
  <span class="no-request">You have no request</span>
</ng-template>
