@media screen and (max-width: 1400px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 13, 13);
    width: 50%;
    height: 100%;
    border-style: solid;
    background-image: url("../../../assets/images/jacob-dyer-R3ut7WOmeto-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
  }

  .g-signin2 {
    margin-bottom: 3%;
  }

  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }

  .logInForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
  }

  .popup{
    position: absolute;
    border-style: groove;
    width: 40%;
    height: 50%;
    left: 20%;
    top: 20%;
    background-color: #3d3535;
    opacity: 0.7;
    border-radius: 5%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .popup > img {
    width: 50%;
    height: 50%;
  }

  .links {
    margin-top: 1%;
    font-size: 17px;
  }

  .container>button {
    margin-top: 20%;
    width: 100%;
  }

  .container>div>img:hover {
    cursor: pointer;
  }

  .main {
    display: flex;
    height: 100%;
    font-size: 13px;
  }


  .pictureContainer {
    background-image: url("../../../assets/images/Cloud.jpg");
    width: 100%;
    max-width: 100%;
    height: auto;
    transform: scaleX(-1);
    padding-top: 10em;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .logInForm>mat-form-field {
    width: 100%;
  }

  ngx-recaptcha2{
    margin-bottom: 3%;
  }

  .logInForm>button {
    width: 34em;
    height: 3.5em;
    color: black;
  }

  .container>span {
    font-size: 100px;
    font-family: "Sofia", sans-serif;
    color: rgb(104, 151, 204);
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 100%;
    height: 100%;
  }

  .logInForm>mat-form-field {
    width: 29em;
  }

  .logInForm>button {
    width: 29em;
    height: 3.5em;
    color: black;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
  }

  .logInForm>mat-form-field {
    width: 20em;
  }

  .logInForm>button {
    width: 18em;
    height: 3.5em;
    color: black;
  }
}

@media screen and (max-width: 600px) {
  .pictureContainer {
    display: none;

  }

  .container {
    width: 100%;
    height: 56em;
  }

  .logInForm>mat-form-field {
    width: 20em;
  }

  .logInForm>button {
    width: 18em;
    height: 3.5em;
    color: black;
  }

    .popup {
      position: absolute;
      border-style: groove;
      width: 80%;
      height: 50%;
      left: 10%;
      top: 20%;
      background-color: #3d3535;
      opacity: 0.7;
      border-radius: 5%;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}
