<div class="main">
  <div class="pictureContainer">

  </div>
  <div class="container">
    <span @fade>Welcome</span>
    <app-sign-in></app-sign-in>
    <form class="logInForm" [formGroup]="user">
      <mat-form-field @fade appearance="outline">
        <mat-label>ٍEmail or phone number</mat-label>
        <input [formControl]="emailOrPhone" matInput autocomplete="off">
        <mat-error *ngIf="emailOrPhone.invalid">{{getUsernameErrorMessages()}}</mat-error>
      </mat-form-field>
      <mat-form-field @fade appearance="outline">
        <mat-label>Password</mat-label>
        <input [formControl]="password" matInput autocomplete="off" type="password">
        <mat-error *ngIf="password.invalid">{{getPasswordErrorMessages()}}</mat-error>
      </mat-form-field>
      <ngx-recaptcha2 @fade #captchaElem [siteKey]="siteKey" [formControl]="recaptcha">
      </ngx-recaptcha2>
      <button @fade [disabled]="user.invalid || isLoading" [class.spinner]="isLoading" (click)="login()"
        mat-raised-button color="primary">Login</button>
    </form>
    <button @fade mat-raised-button color="accent" (click)="openForgetPassword()">Forget password</button>
    <div @fade class="d-flex justify-content-center links">
      Don't have an account? <a color="primary" routerLink="/register"> Sign Up</a>
    </div>
  </div>

  <mat-card @fade class="popup" *ngIf="displayPopup">
    <img
      src="https://img.icons8.com/external-justicon-lineal-color-justicon/64/000000/external-block-notifications-justicon-lineal-color-justicon.png" />
    <p> Your account has been blocked </p>
    <p>
      You can contact support
    </p>
    <a href="mailto:matin.parsapour.iam@example.com">matin.parsapour.iam@gmail.com</a>
  </mat-card>
</div>
