<form>
  <mat-form-field appearance="fill">
    <mat-label>Priority</mat-label>
    <select [disabled]="isLoading" matNativeControl [formControl]="priority">
      <option *ngFor="let priority of priorities" [value]="priority">
        {{priority}}
      </option>
    </select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Topic</mat-label>
    <input [readonly]="isLoading" [formControl]="topic" matInput autocomplete="off" type="text">
    <mat-error *ngIf="topic.invalid">{{getTopicErrorMessages()}}</mat-error>
  </mat-form-field>
  <button mat-raised-button [disabled]="request.invalid || isLoading" [class.spinner]="isLoading" color="primary" (click)="addNewTopic()">Add topic</button>
</form>
