.container {
  display: flex;
}

.content {
  font-size: 20px;
  padding: 2%;
}

.sidebar {
  display: grid;
  grid-template-rows: 2em 20em 3em;
  gap: 1em;
  width: 20em;
}

.menuItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo {
  display: flex;
  background-color: rgb(107 124 167 / 50%);
  border-radius: 30px 0 0 30px;
}

.userToDo {
  display: grid;
  grid-template-columns: 326px;
}


img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user {
  display: flex;
  align-items: center;
}

.systemMessage {
  color: burlywood;
}
