<div class="container">
  <div class="todo content">
    <div class="user">
      <a [routerLink]="'#'" matDialogClose> <img [src]="user.profileImageUrl" *ngIf="user.profileImageUrl" [routerLink]="'#'" alt="">
      </a>
      <a [routerLink]="'#'" matDialogClose><img src="https://img.icons8.com/fluency/48/000000/user-male-circle.png"
          *ngIf="!user.profileImageUrl"></a>
      <p class="systemMessage"> <a [routerLink]="'#'" matDialogClose>{{user.firstName}} {{user.lastName}}</a> wants to
      </p>
    </div>
    <div>
      <p> {{todo.task}} </p>
    </div>
    <div *ngIf="todo.note">
      <p class="systemMessage">And here's some notes about the task {{user.firstName}} wants to do</p>
      <p>{{todo.note}}</p>
    </div>
    <div *ngIf="todo.pictures.length !== 0">
      <p class="systemMessage">Some pictures about {{user.firstName}}'s todo</p>
      <ng-image-slider [images]="slideShowImages" [imageSize]="slideShowSize()">
      </ng-image-slider>
    </div>
  </div>
  <div class="comments content">
    <button mat-icon-button (click)="toggleLike()">
      <mat-icon [hidden]="!userLiked">thumb_up</mat-icon>
      <mat-icon [hidden]="userLiked">thumb_up_off_alt</mat-icon>
    </button>

  </div>
</div>
