<button (click)="backToMain()" mat-icon-button>
    <span class="material-icons">
      arrow_back
    </span>
</button>
<div class="noneEmail" *ngIf="dataSource.length === 0">
  <img width="200px" height="200px"
    src="https://img.icons8.com/external-soft-fill-juicy-fish/60/000000/external-empty-money-soft-fill-soft-fill-juicy-fish.png">
  <p>You have no email</p>
</div>
<div *ngIf="dataSource.length > 0">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef> From </th>
      <td mat-cell *matCellDef="let element"> {{element.origin}} </td>
    </ng-container>

    <ng-container matColumnDef="to">
      <th mat-header-cell *matHeaderCellDef> To </th>
      <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.sentDate | date:'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef> message </th>
      <td mat-cell *matCellDef="let element"> {{element.message | summaryPipes}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (click)="emailDetails(row.id)" class="tableData" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
