.example-sidenav {
  padding: 20px;
  width: 300px;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.buttons{
  display: flex;
  justify-content: space-between;
}

.add-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3em;
}

.add-icon > span:hover {
  color: green;
  cursor: pointer;
}