<mat-sidenav-container class="example-container" fullscreen>
  <mat-sidenav #sidenav class="example-sidenav">
    <button (click)="openCreateFolderDialog()" mat-icon-button color="">
      <mat-icon matTooltip="Add folder">create_new_folder</mat-icon>
    </button>
    <br>
    <br>
    <hr>
    <div *ngFor="let category of categories">
      <app-category [name]="category.name" (click)="loadCategory(category.name)"></app-category>
    </div>
    <hr class="fancyLine" *ngIf="toDoFolders.length >=1">
    <div class="folders" *ngFor="let toDoFolder of toDoFolders">
      <span>
        <app-to-do-folders [toDoFolder]="toDoFolder" (updateData)="getAllToDoFolders()" (getToDos)="getAllToDos()">
        </app-to-do-folders>
      </span>
    </div>
    <button (click)="openUserDialog(); sidenav.close()" class="user" mat-raised-button>
      <span class="material-icons">person</span>
      {{user}} </button>

  </mat-sidenav>
  <div class="example-sidenav-content">
    <div class="buttons">
      <div>
        <mat-icon class="list" (click)="sidenav.open()" matTooltip="Open sidebar">list</mat-icon>
        <form class="search-container" action="//llamaswill.tumblr.com/search">
          <input #searchInput ngModel autocomplete="off" (ngModelChange)="search(searchInput.value)" id="search-box" type="text"
            class="search-box" name="q" />
          <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
        </form>
      </div>
      <div>
        <button *ngIf="!isUser" class="userManagementButton" mat-raised-button color="primary">
          User management
          <span class="material-icons">
            people
          </span>
        </button>
        <button (click)="openSendEmailDialog()" class="sendEmailButton" mat-raised-button color="primary">
          Email
          <span class="material-icons">
            email
          </span>
        </button>
      </div>
    </div>
    <div class="toDos">
      <div class="noToDoErrorContainer">
        <div class="noToDoError" *ngIf="toDos.length === 0">
          <h1>(0_o)</h1>
          <h5>You have no todo</h5>
        </div>
      </div>
      <div *ngFor="let toDo of toDos">
        <app-to-do [toDo]="toDo" [search]="searchInput.value" (getToDos)="getAllToDos()"></app-to-do>
      </div>
    </div>
    <button class="open-input" [class.hid-input]="displayInput" (click)="inputToggle()" mat-icon-button>
      <mat-icon [hidden]="!displayInput">arrow_back</mat-icon>
      <mat-icon [hidden]="displayInput">arrow_forward</mat-icon>
    </button>
    <mat-card>
      <mat-form-field appearance="outline">
        <mat-label>ToDo</mat-label>
        <input (keydown.enter)="addAndUpdateToDos(); searchInput.value = ''" [formControl]="task" matInput
          autocomplete="off" type="text">
      </mat-form-field>
      <div class="toDoMenu">
        <div>
          <div>
            <span (click)="toggleIsMyDay()">
              <mat-icon matTooltip="My day" *ngIf="isMyDayAttr">brightness_7</mat-icon>
              <mat-icon matTooltip="My day" *ngIf="!isMyDayAttr">brightness_5</mat-icon>
            </span>
            <mat-form-field class="date" [hidden]="!dateTime.value" appearance="fill">
              <input [formControl]="dateTime" matInput [matDatepicker]="picker">
              <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-icon mat-raised-button (click)="picker.open()">event</mat-icon>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</mat-sidenav-container>
