@media screen and (max-width: 1400px) {
  .example-sidenav {
    padding: 20px;
    width: 300px;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  summary {
    border-style: groove;
    border-color: #404040;
    width: fit-content;
    padding: 0.5em;
    font-size: 15px;
    margin-left: 2em;
    border-radius: 1em;
    color: aquamarine;
    background-color: black;
    margin-bottom: 1%;
  }

  mat-card {
    display: flex;
    justify-content: space-between;
    margin-left: 3em;
    position: fixed;
    bottom: 0px;
    width: 93%;
    align-items: center;
  }

  .list:hover {
    cursor: pointer;
    color: rgb(46, 61, 201);
  }

  mat-card>mat-form-field {
    width: 80%;
    height: 5em;
    font-size: 15px;
  }

  .user {
    left: 0;
    bottom: 0px;
    height: 5em;
    position: absolute;
    width: 100%;
    align-items: center;
    display: flex;
  }

  .toDos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
    margin-top: 2%;
  }

  .buttons>div {
    display: flex;
  }

  .toDoMenu {
    display: flex;
  }

  .open-input {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 99;
  }

  .date {
    width: 6em;
  }

  .toDoMenu>div>div {
    display: flex;
  }

  .displayNone {
    display: none;
  }

  mat-form-field {
    width: 8em;
  }

  .noToDoError {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .noToDoErrorContainer {
    display: flex;
    justify-content: center;
  }

  .noToDoError>h1 {
    font-size: 5em;
  }

  .noToDoError>h5 {
    font-size: 2em;
  }

  .fancyLine {
    border-bottom: 20px solid gray;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .marginLeft2 {
    margin-left: 2%;
  }

  .fancyButton {
    text-decoration: none;
    text-transform: none;
    letter-spacing: 2px;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: color 1s;
    top: 10%;
    right: 10%;
  }

  .fancyButton:active {
    transform: scale(0.9);
  }

  .folders {
    overflow: auto;
    height: 12em;
  }
  .folders::-webkit-scrollbar{
    width: 5px;
  }

  .folders::-webkit-scrollbar-track {
    background-color: #404040;
    border-radius: 5px;
  }

  .folders::-webkit-scrollbar-thumb {
    background-color: #233e24;
    border-radius: 5px;
  }

  .fancyButton:hover {
    color: #ffffff;
  }

  .fancyButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: rgb(103, 209, 103);
    transform: skew(35deg);
    z-index: -1;
    transition: width 1s;
  }

  .fancyButton:hover::before {
    width: 170%;
  }

  .navBarHeader {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 992px) {
  mat-card {
    width: 90%;
  }
}


@media screen and (max-width: 768px) {
  mat-card {
    width: 90%;
  }

  .enterToDo {
    display: flex;
    flex-direction: column;
  }
}



@media screen and (max-width: 600px) {
  mat-card {
    width: 80%;
  }
}
