<div>
  <button class="arrowBackButton" (click)="backToMain()" mat-icon-button>
    <span class="material-icons">
      arrow_back
    </span>
  </button>
  <button (click)="openNewTopicDialog()" mat-icon-button matTooltip="new topic">
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="dataContainer">
  <div>
    <div class="topicContainer scrollbar-table" id="style-red">
      <div *ngFor="let request of requests" (click)="getRequestData(request.id)">
        <div>
          <span>Topic</span>
          {{request.topic}}
        </div>
        <div>
          <span>Started at</span>
          {{request.startsAt | date : 'short'}}
        </div>
      </div>
    </div>
  </div>
  <div class="requests">
    <div class="requestData">
      <div class="request" *ngIf="request">
        <div class="requestHeader">
          <div>
            <span>Topic</span>
            <p>{{request.topic}}</p>
          </div>
          <div>
            <span>Started at</span>
            <p>{{request.startsAt | date: 'short'}}</p>
          </div>
          <div>
            <span>Solved</span>
            <p>{{request.isFinished ? 'Yes' : 'No'}}</p>
          </div>
          <div>
            <span>Priority</span>
            <p>{{request.priority}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="request">

        {{request.topic}} {{request.startsAt}} {{request.priority}}
      </div>
      <div class="input" *ngIf="request">
        <input type="text" matInput color="primary">
      </div>
    </div>
  </div>
</div>
