<div class="buttons">
  <button class="arrowBackButton" (click)="backToMain()" mat-icon-button>
    <span class="material-icons">
      arrow_back
    </span>
  </button>
  <button (click)="openNewTopicDialog()" mat-icon-button matTooltip="new topic">
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="dataContainer">
  <div>
    <div (contextmenu)="preventDefault($event)" class="topicContainer scrollbar-table" id="style-red">
      <div *ngIf="requests.length === 0">
        You have no request
      </div>
      <div *ngFor="let request of requests" (click)="getRequestData(request.id)">
        <app-request [request]="request" (update)="getAllRequests()"></app-request>
      </div>
    </div>
  </div>
  <div class="requests">
    <div class="requestData" *ngIf="request">
      <div class="requestIsDone" *ngIf="request.isSolved || request.isFinished">
        <div *ngIf="request.isSolved">
          <span>this request is solved</span>
        </div>
        <div *ngIf="request.isFinished">
          <span>this request is finished</span>
        </div>
      </div>
      <app-request-header [request]="request"></app-request-header>
      <div #scroller (contextmenu)="preventDefault($event)" class="messagesContainer scrollbar-table" id="style-red">
        <div *ngFor="let message of request.messages">
          <app-message [message]="message" (update)="getRequestData(request.id)"></app-message>
        </div>
      </div>
      <div class="input">
        <textarea id="input" autofocus [formControl]="messaged" matInput
          color="primary"></textarea>
        <img (click)="requestSolved()" [matTooltip]="request.isSolved ? 'Unsolve' : 'Solve'" class="solvedButton" src="https://img.icons8.com/fluency/48/000000/solve.png" />
        <button mat-icon-button (click)="requestFinished()" [matTooltip]="request.isFinished ? 'Undone' : 'done'" class="doneButton">
          <mat-icon>done</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
