div {
  display: flex;
  justify-content: space-between;
  user-select: none;
}

div>button {
  background-image: linear-gradient(rgb(55, 9, 92), rgb(27, 10, 121), rgb(20, 24, 56), rgb(43, 19, 54));
  z-index: 99;
}

mat-spinner {
  left: 45%;
  top: 30%;
  z-index: 99;
}

.topicContainer {
  flex-direction: column;
  justify-content: flex-start;
  width: 40em;
  background-color: rgb(13, 10, 31);
  margin-top: 4em;
}


.dataContainer {
  height: 100%;
  position: absolute;
  justify-content: unset;
  top: 0;
  width: 100%;
}

.scrollbar-table {
  overflow: auto;

}

.force-overflow {
  min-height: 400px;

}

#wrapper {
  text-align: center;
  width: 400px;
  margin: auto;
}

#style-red::-webkit-scrollbar-track {
  border-radius: 20px;
}

#style-red::-webkit-scrollbar {
  width: 5px;
}

#style-red::-webkit-scrollbar-thumb {
  border-radius: 20px;
  height: 20px;
  background-color: #010118;
}

.requestData {
  margin-top: 2em;
  font-size: 20px;
  background-color: #393648;
  flex-direction: column;
  width: 100%;
}

.requests {
  width: 100%;
  justify-content: space-between;
}

.buttons {
  background-color: #13087070;
  z-index: 99;
}

.requestHeader {
  width: 100%;
  backdrop-filter: brightness(0.5);
  background-color: #01012c45;
}

.requestHeader>div {
  flex-direction: column;
}
.alighItemsFlexEnd {
  align-items: flex-end;
}

.colorAndFontSizeForHeaders {
  color: rgb(117, 113, 113);
  font-size: 12px;
}


textarea {
  background-color: #393648;
  border-radius: 0.75rem;
  flex-grow: 1;
  margin-bottom: 1.25rem;
  outline: none;
  resize: none;
}

.requestIsDone {
  position: fixed;
  z-index: 99;
  background-color: #28292a91;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.requestIsDone>div {
  width: 50%;
}

.solvedButton {
  width: 9%;
  height: 74%;
}

.solvedButton:hover {
  cursor: pointer;
}

.solvedButton:active {
  background-color: #1a1a72;
  border-radius: 50%;
}

app-request{
  width: 100%;
}

.messagesContainer {
  height: 100%;
  flex-direction: column;
  background-color: #2b3868a3;
  justify-content: unset;
}

.input {
  padding: 0 2rem;
  background-color: #2b3868a3;
}
