<div class="folder">
  <div class="name">
    <span class="material-icons arrow" [hidden]="areListsVisible" (click)="toggleListsVisibility()">navigate_next</span>
    <span class="material-icons arrow" [hidden]="!areListsVisible" (click)="toggleListsVisibility()">expand_more</span>
    <p (click)="makeFolderEditable(toDoFolder.name)" (keydown.enter)="validateAndChangeFolderName($event.target)"
      [contentEditable]="true">
      {{toDoFolder.name}}</p>
  </div>
  <div class="buttons">
    <button mat-icon-button #triggerBtn [matMenuTriggerFor]="normalMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu class="menu" #normalMenu="matMenu">
      <button mat-menu-item class="add" (click)="openAddListDialog(toDoFolder.name)" matTooltip="Add list">
        <mat-icon>playlist_add</mat-icon> Add list
      </button>
      <button mat-menu-item class="material-icons delete" (click)="openAggreeementDialog(toDoFolder.name,'folder')"
        matTooltip="delete folder">
        <mat-icon>delete</mat-icon> Delete Folder
      </button>
    </mat-menu>
  </div>
</div>
<div [hidden]="!areListsVisible" *ngFor="let toDoList of toDoFolder.toDoLists">
  <div class="lists">
    <p [contentEditable]="true" (click)="makeListEditable(toDoList.name, toDoFolder.name)"
      (keydown.enter)="validateAndChangeListName($event.target)"> {{toDoList.name}} </p>
    <div>
      <button mat-icon-button #triggerBtn [matMenuTriggerFor]="normalMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu class="menu" #normalMenu="matMenu">
        <button mat-menu-item class="visibility" (click)="showToDo(toDoList.name, toDoFolder.name)"
          matTooltip="See todos of this list">
          <mat-icon>visibility</mat-icon> See to-dos
        </button>
        <button mat-menu-item class="material-icons delete" (click)="openAggreeementDialog(toDoFolder.name,'list', toDoList.name)"
          matTooltip="delete list">
          <mat-icon>delete</mat-icon> Delete List
        </button>
      </mat-menu>
    </div>
  </div>



</div>
