.addIcon {
  cursor: pointer;
}

.folders {
  display: flex;
  flex-direction: column;
}

.folder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.folder>span {
  user-select: none;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.buttons>span {
  margin-top: 10%;
  cursor: pointer;
}

.delete:hover {
  margin-top: 10%;
  color: red;
  cursor: pointer;
}

.add:hover {
  margin-top: 10%;
  color: green;
}

.edit:hover {
  margin-top: 10%;
  color: yellow;
}


.lists>p {
  margin-left: 2.5em;
}

.lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

.arrow:hover {
  color: yellow;
  cursor: pointer;
}

.visibility:hover {
  color: green;
  cursor: pointer;
}

.name {
  display: flex;
}