.invalid {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../../../assets/images/Wrong.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}

.invalid>h1 {
  font-size: 7em;
  margin-bottom: 1em;
  font-family: 'Amazon',
    sans-serif;
  color: rgb(194, 9, 9);
}

.invalid>p {
  font-size: 2em;
  font-family: "Sofia",
    sans-serif;
  color: rgb(171, 185, 166);
}


form {
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/images/jacob-dyer-R3ut7WOmeto-unsplash.jpg");
    font-size: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > div {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 25%;
}

button{
    color: black;
}

form>div>div>mat-form-field {
    width: 36%;
}

form>div>div>div {
    position: absolute;
    margin-left: 15%;
}
.passwordContainer{
    display: flex;
    width: 100%;
}

.wrong {
    color: red;
}

.ok {
    color: green;
}

span{
      display: flex;
      align-self: center;
      font-size: 4em;
      font-family: sans-serif;
      color: rgb(208, 226, 103);
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}