<div class="invalid" *ngIf="!isPageValid; else isNotPageValid">
  <h1>Invalid</h1>
  <p>You can't reset your password because {{error}} </p>
</div>
<ng-template #isNotPageValid>
  <form [formGroup]="resetPassword">
    <span @fade>Now select a strong password</span>
    <mat-error *ngIf="reTypePassword?.valid && resetPassword.invalid && resetPassword.errors?.['passwordsDoNotMatch']">
      Passwords don't
      match</mat-error>
    <div>
      <div class="passwordContainer">
        <mat-form-field @fade appearance="fill">
          <mat-label>Password</mat-label>
          <input [readonly]="isLoading" [formControl]="password" autocomplete="off" type="password" matInput
            placeholder="password" required>
          <mat-error *ngIf="password.invalid"> {{getPasswordErrorMessages()}} </mat-error>
        </mat-form-field>
        <div @fade *ngIf="password.touched && password.invalid">
          <h6 [class.wrong]="!isMinimum" [class.ok]="isMinimum">
            <mat-icon *ngIf="!isMinimum; else isNotMinimum">error</mat-icon>
            <ng-template #isNotMinimum>
              <mat-icon>done</mat-icon>
            </ng-template>
            At least 10 characters
          </h6>
          <h6 [class.wrong]="!hasNumber" [class.ok]="hasNumber">
            <mat-icon *ngIf="!hasNumber; else hasNumber">error</mat-icon>
            <ng-template #hasNumber>
              <mat-icon>done</mat-icon>
            </ng-template>
            Contains at least 2 numbers
          </h6>
          <h6 [class.wrong]="!hasSpecialCharacters" [class.ok]="hasSpecialCharacters">
            <mat-icon *ngIf="!hasSpecialCharacters; else hasSpecialCharacters">error</mat-icon>
            <ng-template #hasSpecialCharacters>
              <mat-icon>done</mat-icon>
            </ng-template>
            Contains at least 2 special characters
          </h6>
          <h6 [class.wrong]="!hasLowerCase" [class.ok]="hasLowerCase">
            <mat-icon *ngIf="!hasLowerCase; else hasLowerCase">error</mat-icon>
            <ng-template #hasLowerCase>
              <mat-icon>done</mat-icon>
            </ng-template>
            Contains at least 2 lowercase
          </h6>
          <h6 [class.wrong]="!hasUpperCase" [class.ok]="hasUpperCase">
            <mat-icon *ngIf="!hasUpperCase; else hasUpperCase">error</mat-icon>
            <ng-template #hasUpperCase>
              <mat-icon>done</mat-icon>
            </ng-template>
            Contains at least 2 uppercase
          </h6>
        </div>
      </div>
      <div>
        <mat-form-field class="reEnterPassword" @fade appearance="fill">
          <mat-label>Re enter password</mat-label>
          <input [readonly]="isLoading" [formControl]="reTypePassword" autocomplete="off" type="password" matInput
            placeholder="reTypePassword" required>
          <mat-error *ngIf="reTypePassword.invalid && reTypePassword.errors.required">You must enter value</mat-error>
        </mat-form-field>
      </div>
    </div>
    <button [class.spinner]="isLoading" (click)="changePassword()" @fade [disabled]="resetPassword.invalid || isLoading"
      mat-raised-button color="primary">Change password</button>
  </form>
</ng-template>
