<form [formGroup]="resetPassword">
  <span @fade>Now select a strong password</span>
        <mat-error *ngIf="reTypePassword?.valid && resetPassword.invalid && resetPassword.errors?.['passwordsDoNotMatch']">Passwords don't
          match</mat-error>
  <div>
    <div class="passwordContainer">
      <mat-form-field @fade appearance="fill">
        <mat-label>Password</mat-label>
        <input [formControl]="password" autocomplete="off" type="password" matInput placeholder="password" required>
        <mat-error *ngIf="password.invalid"> {{getPasswordErrorMessages()}} </mat-error>
      </mat-form-field>
      <div @fade *ngIf="password.touched && password.invalid">
        <h6 [class.wrong]="!isMinimum" [class.ok]="isMinimum">
          <span class="material-icons" *ngIf="!isMinimum">error</span>
          <span class="material-icons" *ngIf="isMinimum">done</span>
          At least 10 characters
        </h6>
        <h6 [class.wrong]="!hasNumber" [class.ok]="hasNumber">
          <span class="material-icons" *ngIf="!hasNumber">error</span>
          <span class="material-icons" *ngIf="hasNumber">done</span>
          Contains at least 2 numbers
        </h6>
        <h6 [class.wrong]="!hasSpecialCharacters" [class.ok]="hasSpecialCharacters">
          <span class="material-icons" *ngIf="!hasSpecialCharacters">error</span>
          <span class="material-icons" *ngIf="hasSpecialCharacters">done</span>
          Contains at least 2 special characters
        </h6>
        <h6 [class.wrong]="!hasLowerCase" [class.ok]="hasLowerCase">
          <span class="material-icons" *ngIf="!hasLowerCase">error</span>
          <span class="material-icons" *ngIf="hasLowerCase">done</span>
          Contians at least 2 lowercase
        </h6>
        <h6 [class.wrong]="!hasUpperCase" [class.ok]="hasUpperCase">
          <span class="material-icons" *ngIf="!hasUpperCase">error</span>
          <span class="material-icons" *ngIf="hasUpperCase">done</span>
          Contians at least 2 uppercase
        </h6>
      </div>
    </div>
    <div>
      <mat-form-field class="reEnterPassword" @fade appearance="fill">
        <mat-label>Re enter password</mat-label>
        <input [formControl]="reTypePassword" autocomplete="off" type="password" matInput placeholder="reTypePassword"
          required>
        <mat-error *ngIf="reTypePassword.invalid && reTypePassword.errors.required">You must enter value</mat-error>
      </mat-form-field>
    </div>
  </div>
  <button (click)="changePassword()" @fade [disabled]="resetPassword.invalid" mat-raised-button color="primary">Change password</button>
</form>
