<div class="request">
  <div class="requestHeader">
    <div>
      <span class="colorAndFontSizeForHeaders">Topic</span>
      <p>{{request.topic}}</p>
    </div>
    <div>
      <span class="colorAndFontSizeForHeaders">Started at</span>
      <p>{{request.startsAt | date: 'short'}}</p>
    </div>
    <div>
      <span class="colorAndFontSizeForHeaders">Solved</span>
      <p>{{request.isSolved ? 'Yes' : 'No'}}</p>
    </div>
    <div>
      <span class="colorAndFontSizeForHeaders">Finished</span>
      <p>{{request.isFinished ? 'Yes' : 'No'}}</p>
    </div>
    <div>
      <span class="colorAndFontSizeForHeaders">Priority</span>
      <p>{{request.priority}}</p>
    </div>
  </div>
</div>
